@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Gloria+Hallelujah&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

/* Modal Styles */
/* Modal Background */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Contents */
.modal-content {
	position: relative;
	top: 0;
	box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: scale(0);
	opacity: 0;
}

/* When modal is open */
.modal.show .modal-content {
	transform: scale(1);
	opacity: 1;
}

/* Animation for closing the modal */
.modal.close .modal-content {
	transform: scale(0);
	opacity: 0;
}
